:root {
    --gradient: linear-gradient(30deg, rgb(0, 132, 255), rgb(124, 224, 255));
    --background-color: rgb(236, 236, 236);
}

/* ------------------------- animation classes starts here ------------------ */

.fade-out {
    animation: fade-out 0.6s ease;
    -webkit-animation: fade-out 0.6s ease;
}
@keyframes fade-out {
    from { opacity: 1}
    to { opacity: 0}
}

.fade-in {
    animation: fade-in 0.6s ease;
    -webkit-animation: fade-in 0.6s ease;
}
@keyframes fade-in {
    from { opacity: 0}
    to { opacity: 1}
}

/* ------------------------- animation classes ends here ------------------ */

body {
    background-color: var(--background-color);
    font-family: Helvetica, sans-serif;
}

.container {
    margin: 100px auto;
    width: 80%;
    height: 400px;
    max-width: 500px;
    background-color: white;
    padding-top: 10px;
    text-align: center;
}
.container > p {
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(156, 156, 156);
    margin-top: 50px;
}
.container > p:nth-of-type(1) {
    color: rgb(207, 207, 207);
    font-size: 12px;
}

.upload {
    width: 200px;
    height: 50px;
    margin: 100px auto;
    padding: 1px;
    background: var(--gradient);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: 0 10px 30px rgb(12, 106, 194, 0.2);
}
.upload:active {
    box-shadow: 0 5px 5px rgba(12, 106, 194, 0.3);
}
.upload > p {
    font-size: 12px;
    margin-top: 19px;
    letter-spacing: 1px;
}

.clouds {
    height: 50px;
    width: inherit;
    position: absolute;
    top: -50px;
    padding: 1px;
    visibility: hidde;
}
.cloud{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: -15px;
}
.cloud div {
    position: absolute; 
    background-color: rgb(243, 243, 243);
}
.cloud div:nth-of-type(1) {
    height: 21px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: 10px;
    left: 7px;
    z-index: 1;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}
.cloud div:nth-of-type(2) {
    height: 20px;
    width: inherit;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    bottom: 0;
    box-shadow: -3px 2px 0px rgba(255, 255, 255, 0.9);
}

.cloud:nth-of-type(1) {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    margin-right: -25px
}
.cloud:nth-of-type(3) {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    margin-left: -25px;
    margin-bottom: -1px;
}

.particles {
    height: inherit;
    width: inherit;
    margin-top: -45px;
}
.particles div {
    height: 7px;
    width: 7px;
    background-color: rgb(217, 245, 255);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 47%;
    bottom: -10px;
    visibility: hidden;
}

.particles div:nth-last-of-type(1) {
    left: 50px;
}
.particles div:nth-last-of-type(2) {
    left: 65px;
    background: none;
    border: 1.3px solid white;
}
.particles div:nth-last-of-type(3) {
    left: 80px;
}
.particles div:nth-last-of-type(4) {
    left: 90px;
    background: none;
    border: 1.3px solid lightblue;
}
.particles div:nth-last-of-type(5) {
    left: 120px;
}
.particles div:nth-last-of-type(6) {
    left: 130px;
}
.particles div:nth-last-of-type(7) {
    left: 150px;
    background: none;
    border: 1.3px solid lightblue
}
.particles div:nth-last-of-type(8) {
    left: 130px;
}
.particles div:nth-last-of-type(9) {
    left: 105px;
}
.particles div:nth-last-of-type(10) {
    right: 150px;
    background: none;
    border: 1.3px solid lightblue
}